.motherboard-list-container {
    margin-bottom: 20px;
}

.motherboard-list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.motherboard-list-add-button {
    margin-bottom: 10px;
}

.motherboard-list-refresh-button {
    color: #fff;
    background-color: #21262a;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.motherboard-list-refresh-button:hover {
    background-color: #6d87a4;
    cursor: pointer;
}

.motherboard-list-refresh-button:active {
    background-color: #98a2b2;
}

.motherboard-list-edit-button {
    cursor: pointer;
}

.motherboard-list-delete-button {
    margin-left: 10px;
}

.motherboard-list-textfield {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.motherboard-list-select {
    width: 120px;
}

.motherboard-list-save-button {
    background-color: #4caf50; /* Set the background color */
    border: none; /* Remove the border */
    color: white; /* Set the text color */
    padding: 10px 20px; /* Add padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline block */
    font-size: 16px; /* Set the font size */
    transition-duration: 0.4s; /* Add transition effect duration */
    cursor: pointer; /* Add cursor pointer */
    margin-right: 10px; /* Add margin between buttons */
}

.motherboard-list-cancel-button {
    background-color: #c92151;
    border: none; /* Remove the border */
    color: white; /* Set the text color */
    padding: 10px 20px; /* Add padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline block */
    font-size: 16px; /* Set the font size */
    transition-duration: 0.4s; /* Add transition effect duration */
    cursor: pointer; /* Add cursor pointer */
    margin-right: 10px; /* Add margin between buttons */
}

.motherboard-list-save-button:hover {
    background-color: #438f47; /* Change background color on hover */
}

.motherboard-list-cancel-button:hover {
    background-color: #9f3346;
}


.motherboard-list-table-row {
    transition: background-color 0.3s ease;
}

.motherboard-list-table-row:hover {
    background-color: #f5f5f5;
}

.motherboard-list-table-cell-actions {
    display: flex;
    align-items: center;
}

.motherboard-list-table-cell-actions > * {
    margin-right: 5px;
}

.motherboard-list-no-memories {
    text-align: center;
    color: #999;
    margin: 20px 0;
}
